<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PutniNalozi.NET.Properties.Settings.piDB9CS" connectionString="Data Source=161.53.120.217\VARAZDIN,1433;Initial Catalog=piDB9;Persist Security Info=True;User ID=piTim9_4;Password=piPass9_4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>